.todos-list {
	height: 79vh;
	overflow-y: hidden;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	background: rgb(221, 221, 221);
	border-radius: 20px;
}

.todos-list > h2 {
	margin-bottom: 25px;
}

.nothing-title {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
	color: rgb(62, 62, 62);
}
